// Function
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// Mixin (non return value)
@mixin transform($property) {
  --webkit-transform: $property;
  --moz-transform: $property;
  --ms-transform: $property;
  transform: $property;
}
