#what .items {
  display: block;
  padding: 1rem;
}

/* Align icon to left */
#what .items .item {
  display: flex;
  text-align: left;
}

/* Position icon */
#what .items .item i {
  margin-right: 1.3rem;
  margin-bottom: 0;
  align-self: center;
}
