.space {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: url("https://stepik.org/media/attachments/lesson/452681/space.png") repeat center center;
    z-index: 1;
}

.planet-area {
    position: absolute;
    height: 30vmin;
    width: 30vmin;
    bottom: 0;
    left: 0;
}

.planet {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.rocket {
    position: absolute;
    bottom: 110%;
    left: 110%;
    transform: rotate(35deg) scale(0.3);
    z-index: 2;
}